.home-page{
	height: 100vh;
	width: 100%;
}

.about-page{
	height: 100vh;
	width: 100vw;
}

.slide-div{
	float:left;
	width: 50vw;
	height: 100%;
	opacity:0;
}

.text-div{
	float:right;
	width: 50vw;
	height: 100%;
	background: #000;
}